
/**
* Mixins
*/

/**
* Mixin - Font-weight
*/
light = 300
regular = 400
medium = 500
semibold = 600
bold = 700



/**
* Mixin - Viewport
*/
viewport = 1396px


/**
* Mixin - Responsive
* @media (max-width screen-sm-min)
* @media (max-width screen-md-min)
* @media (max-width screen-lg-min)
*/
// Smaller devices (phones, 320px and down)
screen-xxs = 320px
// Small devices (phones, 568px and down)
screen-xs = 568px
// Small devices (tablets, 768px and down)
screen-sm = 768px
// Medium devices (desktops, 992px and down)
screen-md = 992px
// Medium devices (desktops, 1200px and down)
screen-lg = 1200px


/*
* Global
* Elementos globais que podem ser extendidos ao longo do documento
*/
.container
  min-width: 0
  max-width: viewport
  margin 0 auto
  width auto
.mini__svg-icon
  width 16px
  max-height 16px
  vertical-align top
.font__13_bold
  font-size 13px
  line-height 15px
  font-weight bold
/*
* Base
* Estilo base do elementos do Html
*/
body
  font-family: 'Open Sans', sans-serif
  border-bottom 18px solid transparent
  border-image url(unquote($ondas_laranja)) 17 17 round

.wrapper-container
  padding-top 9.5rem
  background-color #f5f5f5
  background url(unquote($ondas_body)) repeat
  @media (max-width screen-md)
    padding-top 78px
  .wrapper
    margin-top 16px
    .header-container
      border-top 18px solid transparent
      border-image url(unquote($ondas_laranja)) 17 17 round
      @media (max-width screen-md)
        background #ffffff
      .header
        max-width 1132px
        width 100%
        max-height 75px
        justify-content space-between
        align-items flex-end
        padding-top 0
        @media (max-width screen-md)
          margin-top 10px
        @media (max-width screen-xs)
          height 60px
          align-items center
        .logo
          .d-img
            height 85px
          .m-img
            @media (max-width screen-xs)
              max-height 3rem
        .search.busca_topo
          flex 0 1 950px
          margin-left 0
          margin 0 35px
          @media (max-width screen-xs)
            flex 0 0 auto
            margin-left auto
            margin-right 0
          .input-box
            @media (max-width screen-xs)
              top 78px
            .search__input
              background #f5f4f4
              box-shadow none
              border none
              border-radius 8px 0 0 8px!important
              height 38px
              &::placeholder
                color #2b2a29
                font-size 14px
              @media (max-width screen-xs)
                border-radius 0px!important
            .search__hide.btn--close
              top 78px
              color #E8413D
              padding 11px
          .search__button.btn
            background #f5f4f4
            box-shadow none
            border none
            border-radius 0 8px 8px 0
            height 38px
            padding 10px
            @media (max-width screen-xs)
              background none
            .ico
              width 22px
              height 22px
        .loginout--guest
          display flex
          justify-content space-between
          max-width 895px
          width 100%
          margin 5px auto
          position absolute
          top 5px
          left auto
          right -5px
          @extend .font__13_bold
          @media (max-width screen-lg)
            max-width 865px
            right 10px
          @media (max-width screen-md)
            display none
          p
            color unquote($color3_bg)
          .dot
            margin 0 7px
            font-size 20px
            vertical-align bottom
            font-weight normal
          a
            color unquote($color2_bg)
          svg
            @extend .mini__svg-icon
            margin 0 3px
        .loginout--logged
          text-align right
          display flex
          justify-content space-between
          max-width 205px
          width 100%
          margin 5px auto
          position absolute
          top 5px
          left 245px
          right auto
          @extend .font__13_bold
        .mycart
          max-width 170px
          flex 0 0 auto
          height 38px
          margin 0
          @media (max-width screen-xs)
            width auto
          a
            background none!important
          &:hover
            background none!important
          &__header
            background url(unquote($ondas_azul)) repeat
            padding .7rem
            border-radius 8px
            @extend .font__13_bold
            @media (max-width screen-xs)
              background none!important
              padding 10px
              margin-top -2px
            a
              border none
              box-shadow none
              width auto
              height auto
              color unquote($color2_font)
              &:hover
                background none!important
              .ico
                display none
                @media (max-width screen-xs)
                  display block!important
                  width 30px
                  height 25px
              .qtd
                top -18px
                right -18px
                left auto
                background #ee741d
                @media (max-width screen-xs)
                  display none
              .text
                display block
                @media (max-width screen-xs)
                  display none!important
                &:after
                  content ""
                  display inline-block
                  width 0
                  height 0
                  margin-left 7px
                  position relative
                  border-top 5px solid #ee741d
                  border-left 5px solid transparent
                  border-right 5px solid transparent
          &__content
            box-shadow none
            border-radius 5px
            border 1px solid unquote($color3_bg)
            .title
              font-size 16px
              font-weight 600
              color unquote($color3_bg)
            .mycart__list
              .mycart__item
                border none
                align-items baseline
                margin-bottom 0
                .mycart__thumb
                  max-width 70px
                  height auto
                .mycart__details
                  text-align right
                  .mycart__name
                    text-align right
                    margin-bottom 0
                    a
                      font-size 14px
                      font-weight 600
                      color unquote($color3_bg)
                      text-align right
                  .mycart__qtd
                    font-size 14px
                    font-weight 600
                    text-transform uppercase
                    color unquote($color3_bg)
                    text-align right
                    opacity 1
                  .price
                    font-size 14px
                    font-weight 500
                  .truncated
                    display none
                  .mycart__remove
                    display none
            .mycart__totals
              .title
                color #0070b8
                background url(unquote($hr_cart)) center repeat-x
                text-transform uppercase
                text-align right
                margin-bottom .5rem
                span 
                  background #ffffff
            .regular-price
              line-height 30px
              text-align right
              margin-bottom 1rem
              background url(unquote($hr_cart)) bottom repeat-x
              .label
                display none
              .price
                font-size 14px
                font-weight 500
            .price-box-avista
              line-height 30px
              justify-content flex-end
              background url(unquote($hr_cart)) bottom repeat-x
              .label
                order 1
                margin-right 0
                margin-left 5px
                font-size 14px
                font-weight 500
                text-transform uppercase
                color #000
              .discount
                order 0
                font-size 14px
                font-weight 500
                color #000
              .price
                order 2
                text-align right
                span
                  color #0070b8
                  font-weight 600
            .price-box-parcelado
              text-align right
              font-size 14px
              font-weight 500
              color #000
              .num, .value
                font-weight normal
          .mycart__actions
            padding 10px
            align-items center
            .editar
              color #0070b8
              &:hover
                background none
                text-decoration underline
            .finalizar
              font-size 16px
              font-weight 600
              text-align center
              color unquote($color2_font)
              background unquote($color3_bg)!important
              border-radius 6px
              padding 10px
              @media (max-width screen-xs)
                background unquote($color3_bg)!important
              &:hover
                background unquote($color3_bg_hover)!important
      .categories
        background url(unquote($ondas_vermelha)) repeat
        .ul--0
          max-width 1132px
          .li--0:hover
            .a--0
              background rgba(247, 134, 52, 0.6)
      .categories--mobi
        .ul--0
          @media (max-width screen-sm)
            flex-flow column nowrap
            .li--0
              display block!important
              position relative!important
              top 0!important
              left auto!important
              .a--0
                display block!important
                position relative!important
      .categories__show.btn
        background none
        color #E8413D
    .banner
      &__link
        &:hover
          opacity 1
    .main-container
      max-width screen-lg
      .col-main
        flex 0 0 auto
      .products
        margin-bottom 4rem
        .owl-wrapper-outer
          .owl-item
            max-width 243px
            flex 0 0 100%
            @media (max-width screen-xs)
              max-width 553px
              flex 0 0 auto
        &__title
          width auto
          display inline-block
          text-align center
          font-size 15px
          color unquote($color2_font)
          background unquote($button_bg)
          padding 14px 25px
          border-radius 8px
        &__case
          border-radius 8px
          box-shadow none
          .product__header
            .product__image
              img
                border-radius 8px 8px 0 0
          .product__main
            .configurable-swatch-list
              .swatch-link
                border-radius 100%
                img
                  border-radius 100%
            .product__name
              color unquote($color3_bg)
              font-size 15px
              font-weight 600
            .price-box
              margin-bottom .5rem
              .old-price
                color #c5c5c5
                font-size 15px
              .special-price
                font-size 18px
                color #006bb4
                .label
                  font-weight 700
                  color #006bb4
            .price-box-avista
              margin-bottom .5rem
              flex-flow row-reverse
              justify-content space-between
              .label
                color unquote($color1_bg)
                font-size 12px
                font-weight 600
                margin 0
              .price
                color unquote($color1_bg)
                font-size 12px
                font-weight 600
                max-width max-content
            .price-box-parcelado
              margin-bottom 0
              .preco-parcelado-sem-juros
                display none
              span 
                font-size 13px
                font-weight 600
                color #2b2a29
            .product-btn_hover
              display none
              @media (max-width screen-xs)
                display block
              .button
                background unquote($color3_bg)
                box-shadow none 
                border-radius 8px
                &__link
                  color unquote($button_font)
              img
                width auto
                max-height 60px
                height 100%
                position absolute
                bottom auto
                right 10px
                @media (max-width screen-xs)
                  display none
        &__case:hover
          border 1px solid unquote($color3_bg)
          .product__main
            .product-btn_hover
              display flex
              max-width 100%
              margin-top 10px
        .owl-controls
          .owl-pagination
            display none
          .owl-buttons
            .owl-prev
              box-shadow none
              background none
              left -55px
              right auto
              &:before
                content "\f190"
                background none
                font-size 30px
                color unquote($color1_bg)
            .owl-next
              box-shadow none
              background none
              right -55px
              left auto
              &:before
                content "\f18e"
                background none
                font-size 30px
                color unquote($color1_bg)
      #banner__home-mosaico-1
        @media (max-width screen-md)
          margin-bottom 12px
        .banner__wrapper
          display flex
          justify-content space-between
          flex-flow nowrap
          .slide--1
            max-width 588px
          .slide--2, .slide--3
            max-width 285px
          @media (max-width screen-lg)
            display grid
            grid-template-columns 49% 1fr 1fr
            grid-gap 20px
          @media (max-width screen-md)
            grid-gap 12px
          @media (max-width screen-xs)
            grid-template-columns 1fr
            max-width 270px
            margin 0 auto
      #banner__home-mosaico-2
        margin-bottom 4rem
        .banner__wrapper
          display flex
          justify-content space-between
          flex-flow nowrap
          .banner__item
            max-width 385px
          @media (max-width screen-lg)
            display grid
            grid-template-columns repeat(3, 1fr)
            grid-gap 20px
          @media (max-width screen-md)
            grid-gap 12px
          @media (max-width screen-xs)
            grid-template-columns 1fr
            max-width 270px
            margin 0 auto
      .newsletter
        padding 18px
        border-radius 8px
        background url(unquote($ondas_vermelha)) repeat
        margin-bottom 50px
        &__form
          flex 1 1 40%
          margin-bottom 0
        &__text
          flex 1 1 auto
          margin-bottom 0
          @media (max-width screen-lg)
            flex 1 1 100%
            text-align center
            margin-bottom 16px
          .title
            font-size 16px
            font-weight 600
            color unquote($color2_font)
        &__name
          flex 1 1 auto
          padding 0 .5rem
          @media (max-width screen-xs)
            margin-bottom 8px
          input 
            border none
            box-shadow none
            border-radius 6px!important
            &::placeholder
              color #2b2a29
              font-weight 600
              font-size 14px
        &__gender
          display none
        &__email
          flex 1 1 auto
          padding 0 .5rem
          @media (max-width screen-xs)
            margin-bottom 8px
          input 
            border none
            box-shadow none
            border-radius 7px!important
            &::placeholder
              color #2b2a29
              font-weight 600
              font-size 14px
        &__submit
          flex 1 1 auto
          padding 0 .5rem
          .btn
            background unquote($button_bg)
            box-shadow none
            border-radius 7px!important
      .section-sobre
        display flex
        justify-content space-between
        align-items center
        background #ffe532
        box-shadow -980px 0 0 #ffe532, 980px 0 0 #ffe532
        @media (max-width screen-lg)
          margin 0 -1rem
          padding 0 1%
        @media (max-width screen-xs)
          flex-flow column-reverse
          padding-bottom 10px
        &__balao1
          align-self flex-end
          height auto
          max-width 130px
          width 100%
          @media (max-width screen-md)
            max-width 90px
            display none
        &__text
          flex 1 1 auto
          @media (max-width screen-lg)
            padding 0 16px
          @media (max-width screen-xs)
            text-align center
          .title
            &__normal
              font-size 27px
              font-weight 100
              letter-spacing -1px
              color unquote($button_bg)
            &__strong
              font-size 27px
              font-weight 700
              letter-spacing -1px
              color unquote($color1_bg)
          .textblock
            font-size 15px
            color #2b2a29
            @media (max-width screen-lg)
              font-size 14px
            @media (max-width screen-sm)
              font-size 12px
        &__img
          flex 1 1 45%
          margin-top -25px
          padding 0 25px
          @media (max-width screen-sm)
            flex 1 1 60%
          @media (max-width screen-xs)
            text-align center
            img
              max-width 40%
              width auto
        &__balao2
          align-self flex-end
          height auto
          max-width 130px
          width 100%
          @media (max-width screen-md)
            max-width 90px
            display none
    .footer-container
      margin -1rem -1rem 0
      background #ffffff
      padding-top 48px
      .footer
        max-width 1300px
        padding 0 2%
        &__contact
          display block
        .title
          font-size 16px
          font-weight 600
          color unquote($color3_bg)
          opacity 1
        .tele
          margin-top -.5rem
          svg
            width 15px
            max-height 17px
            vertical-align baseline
          .ddd
            font-size 16px
            font-weight 600
            color #006cb5
            margin 0 1px 0 6px
          .phone-number
            font-size 23px
            font-weight 700
            color #006cb5
        .horario
          .textblock
            color #2b2a29
            font-size 13px
            font-weight 400
          .email
            color #2b2a29
            font-size 13px
            font-weight 400
        &__about
          .mymenu
            a
              color #2b2a29
              font-size 13px
              font-weight 400
        &__doubts
          .mymenu
            a
              color #2b2a29
              font-size 13px
              font-weight 400
        &__payments
          .pays
            display flex
            align-items center
            &__title
              margin-top 1rem
              margin-right 15px
        &__social
          .socials
            display flex
            align-items center
            &__title
              margin-top 1rem
              margin-right 15px
        &__certificates
          .certs
            display flex
            align-items center
            &__title
              margin-top 1rem
              margin-right 15px
        &__copyright
          .textblock
            text-align center
            p
              color #b3b3b3
              font-size 12px
        @media (max-width screen-lg)
          .footer-institucional
            @media (max-width screen-sm)
              display grid
              grid-template-columns repeat(2, 1fr)
              grid-gap 45px
              div
                text-align center
            @media (max-width screen-xs)
              grid-template-columns 1fr
          .footer-selos
            justify-content center
            flex-flow column nowrap
/*
* Página do produto
*/
body.catalog-product-view
  .wrapper-container
    .main-container
      .product-view
        .prod__shop
          .prod__name
            h1
              font-size 24px
          .product-options
            .configurable
              &:before
                content none
          .price-box
            margin-bottom .5rem
            .old-price
              color #c5c5c5
              font-size 15px
            .special-price
              font-size 18px
              color #006bb4
              .label
                font-weight 700
                color #006bb4
          .price-box-avista
            margin-bottom .5rem
            flex-flow row-reverse
            justify-content space-between
            width max-content
            .label
              color unquote($color1_bg)
              font-size 12px
              font-weight 600
              margin 0
            .price
              color unquote($color1_bg)
              font-size 12px
              font-weight 600
              max-width max-content
              margin-right 4px
          .price-box-parcelado
            .preco-parcelado-sem-juros
              display none
            span 
              font-size 13px
              font-weight 600
              color #2b2a29
          .frete
            &__title
              flex-flow row-reverse
              justify-content space-between
              span
                margin 0
        .tabs
          &__tab
            font-weight normal
        .add-to-links
          .link-wishlist
            a
              @media (max-width screen-xs)
                color #000!important
/*
* Components
* Componentes que se adaptam ao contexto
*/


/*
* State
* Estado global do Layout
*/


/*
* Theme
* Customização de components ou layout, hacks !importants e etc
*/